* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #f6f6f6;
  color: rgba(0 0 0 / 87%);
  font-family: "Noto Sans JP", sans-serif;
  height: 100%;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.container {
  container-name: grid;
  container-type: inline-size;
}

.grid {
  display: grid;
  gap: 24px 16px;
  grid-template-areas:
    "header header"
    "navigation main";
  grid-template-columns: minmax(max-content, 216px) 1fr;
  grid-template-rows: auto auto;
  margin: auto;
  padding: 8px 8px 40px;
  width: min(1024px, 100%);
}

@container grid (width < 768px) {
  .grid {
    gap: 8px;
    grid-template-areas:
      "header"
      "navigation"
      "main";
    grid-template-columns: 100%;
  }
  .navigation {
    font-size: 16px;
    overflow-x: auto;
    position: static;
  }
  .navigation__list {
    flex-direction: row;
  }
  .navigation__list > li {
    white-space: nowrap;
  }
}

.header {
  backdrop-filter: blur(24px);
  background-color: rgba(255 255 255 / 60%);
  border: 1px solid rgba(255 255 255 / 80%);
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0 0 0 / 6%);
  grid-area: header;
  padding: 24px 16px;
  position: sticky;
  top: 8px;
}

.header__title {
  font-size: 16px;
  line-height: 1;
}

.navigation {
  align-self: flex-start;
  font-size: 20px;
  grid-area: navigation;
  line-height: 1;
  position: sticky;
  top: 96px;
}

.navigation__list {
  display: flex;
  flex-direction: column;
}

.navigation__list > li {
  border-radius: 16px;
  transition: all 50ms ease-in-out;
}

@media (hover: hover) {
  .navigation__list > li:hover {
    background-color: #eaeaea;
  }
}

.navigation__list > li > a {
  display: block;
  padding: 16px;
}

.main {
  container-name: main;
  container-type: inline-size;
  grid-area: main;
  padding-inline: 8px;
}

@container main (width <= 480px) {
  .card {
    flex-direction: column;
    gap: 8px;
  }
  .card__image {
    aspect-ratio: 40 / 21;
    height: auto;
    width: 100%;
  }
  .card__title {
    font-size: 20px;
  }
  .card__notes {
    font-size: 14px;
  }
}

.card {
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  gap: 16px;
  padding: 16px;
}

@media (hover: hover) {
  .card:hover .card__title {
    color: royalblue;
  }
}

.card + .card {
  margin-top: 16px;
}

.card__image {
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  height: 64px;
  object-fit: cover;
  width: 64px;
}

.card__body {
  flex-grow: 1;
}

.card__title {
  font-size: 24px;
  transition: all 50ms ease-in-out;
}

.card__notes {
  display: flex;
  margin-top: 8px;
  white-space: nowrap;
}

.card__user-icon {
  border-radius: 50%;
}

.card__user-name {
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__posted-at {
  color: rgba(0 0 0 / 60%);
  margin-left: auto;
}
